<%- include('include/_header') %>
<div class="w-full md:w-4/5 bg-gray-200 mx-auto mt-5">
   <div class="flex justify-items-center justify-center">
        <div>
            <img class="p-2 object-cover object-center w-44 h-44 rounded-full" src="http://localhost:8000/image/<%= user.avatar %>"/>

        </div>
   </div>
   <div class="w-full flex mt-1">
     <div class="w-1/5 p-2 bg-gray-300 font-serif font-medium text-xl text-center">Name</div>
     <div class="w-4/5 p-2 font-serif text-lg bg-gray-100"><%= user.username %></div>
   </div>

   <div class="w-full flex mt-2">
    <div class="w-1/5 p-2 bg-gray-300 font-serif font-medium text-xl text-center">University</div>
    <div class="w-4/5 p-2 font-serif text-lg bg-gray-100"><%= user.universityName %></div>
  </div>

  <div class="w-full flex mt-2">
    <div class="w-1/5 p-2 bg-gray-300 font-serif font-medium text-xl text-center">College Name</div>
    <div class="w-4/5 p-2 font-serif text-lg bg-gray-100"><%= user.collegeName %></div>
  </div>

  <div class="w-full flex mt-2">
    <div class="w-1/5 p-2 bg-gray-300 font-serif font-medium text-xl text-center">Address</div>
    <div class="w-4/5 p-2 font-serif text-lg bg-gray-100"><%= user.permanentAddress %></div>
  </div>

  <div class="w-full flex mt-2">
    <div class="w-1/5 p-2 bg-gray-300 font-serif font-medium text-xl text-center">Premanent Address</div>
    <div class="w-4/5 p-2 font-serif text-lg bg-gray-100"><%= user.presentAddress %></div>
  </div>

  <div class="w-full flex mt-2 pb-2">
    <div class="w-1/5 p-2 bg-gray-300 font-serif font-medium text-xl text-center">Premanent Address</div>
    <div class="w-4/5 p-2 text-lg bg-gray-100"><%= user.phoneNumber %></div>
  </div>

  <div class="w-full text-right bg-gray-300 text-xl font-serif font-medium p-3 mt-1">
    <a href="/api/admin/home"> Go back </a> 
  </div>



</div>
<%- include('_Footer')%>